body {
    font-family: 'Bradley Hand', cursive;
    background: #F0F8FF;
    color: #000000;
}

header {
    background-color: #c1d9df;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    border-radius: 30px;
}

.project-3 a {
  display: block;
  padding: 1rem 2rem;
  background: #b2b8c2;
  border-radius: 30px;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.menu {
    font-size: 24px;
    padding: 10px;
}
footer {
    background-color: #c5b3c5;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border-radius: 30px;

}